<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>Cleaning App</title>
  
  
  <!-- <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'> -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/login2.css">
  
</head>

<body>

  
    <div class="login-block">
      {{#if success_msg}}
        <div class="alert-success"> {{success_msg}} </div>
      {{/if}}

      {{#if error_msg}}
        <div class="alert-danger"> {{error_msg}} </div>
      {{/if}}

      {{#if error}}
        <div class="alert-danger"> {{error}} </div>
      {{/if}}


      
    {{{body}}}
    </div>



   
  <!--<a href="/auth/facebook">Login with Facebook</a> -->



  <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/login.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $("div").click(function () { ga('send', 'event', 'use', 'click'); });
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87907153-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>
</html>
