

  <form method="post" action="/">
       <h1>Cleaning App</h1>
       
       <div class="form-group ">
         <input type="text" class="form-control" name="username" placeholder="Username " id="UserName">
         <i class="fa fa-user"></i>
       </div>
       <div class="form-group log-status">
         <input type="password" class="form-control" name="password" placeholder="Password" id="Passwod">
         <i class="fa fa-lock"></i>
       </div>
        <span class="alert">Invalid Credentials</span>
       <!-- <a class="link" href="#">Lost your password?</a>-->
       <button type="submit" class="log-btn" id="login-btn">Log in</button>
       <p float="center">Or</p>



       <div class="log-btn"> <a href="/register"> Sign Up </a></div>
       <!-- <a href="/index/" class="log-btn" onclick="validate()">Log in</a> --> 
  </form>

   
  <!--<a href="/auth/facebook">Login with Facebook</a> -->

