<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Cleaning App</title>
  
  
  <!-- <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'> -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
  
</head>

<body>

  <form method="post" action="/">
    <div class="login-form">
       <h1>Cleaning App</h1>
       
      <!-- route this properly (to show when registration is successful)) -->
      {{#if success_msg}}
        <div class="alert-success"> {{success_msg}} </div>
      {{/if}}

       <div class="form-group ">
         <input type="text" class="form-control" name="username" placeholder="Username " id="UserName">
         <i class="fa fa-user"></i>
       </div>
       <div class="form-group log-status">
         <input type="password" class="form-control" name="password" placeholder="Password" id="Passwod">
         <i class="fa fa-lock"></i>
       </div>
        <span class="alert">Invalid Credentials</span>
       <!-- <a class="link" href="#">Lost your password?</a>-->
       <button type="submit" class="log-btn" id="login-btn">Log in</button>
       <p float="center">Or</p>



       <div class="log-btn"> <a href="/register"> Sign Up </a></div>
       <!-- <a href="/index/" class="log-btn" onclick="validate()">Log in</a> --> 
    </div>
  </form>

   
  <!--<a href="/auth/facebook">Login with Facebook</a> -->



  <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/login.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>

</body>
</html>
