<!doctype html>

<html>
<head>
	<title>Other Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/navbar.css" rel="stylesheet">

	<!--To include navbar in your pages, also add the navbar script in the bottom of the file --> 
	<nav id="navMenu"></nav>

</head>

<body>
	<h1>OTHER</h1>
	<script src="/js/navbar.js"></script>
</body>

</html>